* {
  /* estilos globai - estamos retirando os estilos aplicados por padrão pelo navegador */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/logo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Remove a barra de rolagem */
}

.container {
  width: 100vw;
  /* Define a largura do container para ocupar toda a largura da tela */
  height: 100vh;
  /* Define a altura do container para ocupar toda a altura da tela */
  display: flex;
  /* Permite que os elementos dentro do container sejam alinhados verticalmente e horizontalmente */
  align-items: center;
  /* Alinha os itens verticalmente no centro */
  justify-content: center;
  /* Alinha os itens horizontalmente no centro */
}

.titulo h1 {
  color: #ffff;
  /* Define a cor do texto */
  font-size: 180px;
  /* Define o tamanho da fonte */
  font-weight: bold;
  /* Define a espessura da fonte*/
  margin-top: 10px;
}

.titulo {
  display: flex;
  align-items: center;
  /* Alinha os itens verticalmente */
  justify-content: center;
  margin-left: -90px;
}

.logo {
  margin-left: 9vw; /* margem esquerda */
  margin-top: 9vw;
  position: fixed; /* Torna o elemento fixo na tela */
}

.titulo-input {
  color: #ffff; /* Define a cor do texto */
  font-size: 80px; /* Define o tamanho da fonte */
  margin-left: 14vw; /* margem esquerda */
  display: flex;
  align-items: center;
  margin-top: 285px;
  margin-bottom: 40px;
}

input {
  width: 300px; /* Define a largura da caixa de entrada */
  height: 50px; /* Define a altura da caixa de entrada */
  padding: 10px; /* Adiciona um preenchimento interno à caixa de entrada */
  border-radius: 10px; /* cantos arredondados  */
  background-color: #c8a2c8; /* cor da caixa do input  */
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  font-size: 80px;
  text-align: center; /* Centraliza o texto do placeholder */
}

input::placeholder {
  color: #080707; /* Define a cor do texto do placeholder */
  font-size: 80px; /* Define o tamanho da fonte do placeholder */
  font-weight: lighter; /* Define a espessura da fonte do placeholder */
  text-align: center; /* Centraliza o texto do placeholder */
}

button {
  width: 500px; /* Define a largura */
  height: 90px; /* Define a altura*/
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #9400d3;
  color: #080707; /* Define a cor do texto */
  font-size: 80px; /* Define o tamanho da fonte */
  font-weight: bold; /* Define a espessura da fonte */
  border: none;
  cursor: pointer;
}

.interaction {
  text-align: center; /* Alinha os elementos internos ao centro */
}

.interaction input {
  display: inline-block; /* Faz com que os inputs fiquem lado a lado */
  vertical-align: top; /* Alinha os inputs verticalmente no topo */
  margin-right: 10px; /* Adiciona um espaço entre os inputs */
  height: 150px; /* Define a altura*/
  width: 800px;
}

.interaction button {
  display: block; /* Faz com que o botão fique em uma nova linha */
  margin-top: 100px; /* Adiciona um espaço entre os inputs e o botão */
  margin-left: auto;
  margin-right: auto;
  height: 150px; /* Define a altura*/
  width: 800px;
}

.container-interaction {
  margin-top: 9vw;
  position: fixed; /* Torna o elemento fixo na tela */
  width: 40%; /* largura*/
  min-height: 50vh;
  margin: auto;
}

.result {
  border-radius: 10px;
  background: transparent;
  display: block; /* Faz com que o botão fique em uma nova linha */
  margin-top: 280px; /* Adiciona um espaço entre os inputs e o botão */
  margin-left: auto;
  margin-right: auto;
  height: 150px; /* Define a altura*/
  width: 800px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  padding: 12px; /* Adiciona um preenchimento interno à caixa de entrada */
}

/*APLICANDO RESPONSIVIDADE */
@media (max-width: 1100px) {
  body {
    overflow: visible;
    background-image: none;
    background-color: #210136;
  }

  .container-interaction {
    margin-top: auto;
    margin-bottom: auto;
    width: 80%; /* largura*/
    min-height: 50vh;
    margin-left: 12vw;
  }

  .interaction {
    display: flex;
    flex-direction: column; /* Altera a direção para coluna */
    margin-bottom: 5px;
    width: 80%;
    align-items: center; /* Alinha os itens ao centro */
  }

  .titulo {
    margin-left: 0; /* Remove a margem esquerda */
  }

  .titulo h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    margin-right: 22vw;
  }

  .titulo-input {
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: 10vw; /* Centraliza o texto */
  }

  .interaction input {
    width: 80%;
    margin-bottom: 5px;
    height: 10vw;
    font-size: 25px;
    margin-top: 25px;
  }

  input::placeholder {
    width: 100%;
    margin-bottom: 5px;
    height: 10vw;
    font-size: 25px;
    margin-top: 25px;
    align-items: center;
    position: static;
  }

  .interaction button {
    width: 80%;
    height: 10vw;
    margin-bottom: 5px;
    font-size: 25px;
    background-color: #ebeb09;
    margin-top: 25px;
  }

  .result {
    position: static;
    margin-top: 20px;
    font-size: 45px;
    align-items: center;
    width: 80%;
  }
}

@media (max-width: 400px) {
  .titulo h1 {
    font-size: 29px;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    margin-right: 22vw;
  }

  .titulo-input {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: 5vw; /* Centraliza o texto */
  }

  .interaction input {
    width: 80%;
    margin-bottom: 5px;
    height: 10vw;
    font-size: 20px;
    margin-top: 25px;
  }

  input::placeholder {
    width: 100%;
    margin-bottom: 5px;
    height: 10vw;
    font-size: 20px;
    margin-top: 25px;
    align-items: center;
    position: static;
  }

  .interaction button {
    width: 80%;
    height: 10vw;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #ebeb09;
    margin-top: 25px;
  }

  .result {
    position: static;
    margin-top: 20px;
    font-size: 25px;
    align-items: center;
    width: 80%;
  }
}
